@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background: #3f3b3b;
  color: #fff;
  font-family: "Roboto", sans-serif;
  overflow: hidden; /* Evita el desplazamiento */
}

#score {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
}

canvas {
  background: #352e2e;
  display: block; /* Elimina el margen adicional */
  border: 1px solid #fff; /* Añade un borde blanco para mejor visibilidad */
}
